<% layout('/layouts/boilerplate.ejs'); %> 

<script>
  const mapToken = "<%=process.env.MAP_TOKEN%>";
  const coordinates = <%-JSON.stringify(listing.geometry.coordinates)%>
</script>
<div class="card mb-3 mt-5">
    <div class="row g-5">
      <div class="col-md-4">
        <img src="<%= listing.image.url %>" class="img-fluid rounded mb-3" alt="Listing Image">
        <h4>Posted By : <%= listing.owner.username %></h4>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><%= listing.title %></h3>
          <p class="card-text"><%= listing.description %></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> &#8377; <%= listing.price.toLocaleString("en-IN")%>/Night</li>
            <li class="list-group-item"><i class="fa-solid fa-location-arrow"></i>  <%= listing.location %></li>
            <li class="list-group-item"> <i class="fa-solid fa-location-dot"></i>  <%= listing.country%></li>
          </ul>
        </div>
        <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
        <div class="d-flex">
            <a href="/listings/<%= listing._id %>/edit" class="me-2"><button class=" createBtn btn btn-outline-primary ">Edit</button></a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                <button class="btn btn-outline-primary createBtn">Delete</button>
            </form>
        </div>
        <% } %>

        <!-- Add New Review  -->
        <hr>
        <h4>Leave a Review</h4>
        <br>
        <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">

          <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-coinFlip">
              <input type="radio" id="no-rate" class="input-no-rate" name="Review[rating]" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="Review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="Review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="Review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="Review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="Review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>        
          </div>

          <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea name="Review[comment]" placeholder="Enter your views here" required class="form-control"></textarea>
            <div class="invalid-feedback">
              Please fill out this field.
            </div>
        </div>

        <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
      </div>
      <hr>
      <% if(listing.reviews.length){ %>
      <!-- Show all Reviews  -->
      <h4 class="mt-2">Ratings & Reviews</h4>
      <br><br><br>
      <div class="row">
      <% for(review of listing.reviews){ %>
        
          <div class="card text-center col-xxl-3 col-xl-3 col-lg-3 col-md-5 col-sm-10 reviewCard p-0 ms-3 me-3 mb-5 ms-lg-5">
            <div class="card-header m-0 pt-2">
              <h5 m-0 p-0><%= review.author.username %></h5>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Rating :
                <% for(let i=1; i<=review.rating; i++){ %>
                  <i class="fa-sharp fa-solid fa-star"></i>
                  <% } %>
                  <% for(let i=1; i<=5-review.rating; i++){ %>
                    <i class="fa-regular fa-star"></i>
                    <% } %>
              </h5>
              <p class="card-text"><%= review.comment %></p>
              <% if(currUser && currUser._id.equals(review.author._id)){ %>
              <div>
                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                  <button type="submit" class="btn btn-outline-dark">Delete Review</button>
                </form>
              </div>
              <% } %>
            </div>
            <div class="card-footer text-body-secondary">
              <%= review.createdAt %>
            </div>
          </div>
      <% } %>
    </div>
  <% } %>
    <h4 class="offset-4 mt-0 p-0">Where u'll be</h4>
    <div id="map" class="offset-4 mt-0"></div>
    </div>
  </div>
  <script src="/js/map.js"></script>